@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&family=Raleway&family=Ubuntu:wght@300&display=swap');

body{
    /* background-color: antiquewhite; */
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/* Navbar  */
nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0px 12px;
}

#right{
    display: flex;
    float: right;
}


.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.brand img{
    width: 45px;
    padding: 0 8px;
}

/* Main Content  */
.container{
    margin: 2%;
    display: flex;
}

.first{
    /* float: left; */
}

h3{
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 20px;
    margin-left: 4%;

}

.card_wrap img{
    border-radius: 15px;
}

.cardContainer{
    margin-left: 9%;
    list-style-type: none;
}

.card{
    display: flex;
    margin-left: -5%;
}

.card a{
    text-decoration: none;
}

.t_wrap{
    font-size: 20px;
    margin-left: 14px;
    margin-left: auto;
    text-align: center;
    margin-top: 0%;
}

/* Second Container  */
.Second{
    display: block;
    margin: 22.5% -68%;
}

.Third{
    display: block;
    margin: 45% -1%;
}

.songItemContainer{
    margin-top: 34px;
}

/***************************************************/
/* FOOTER */
/**************************************************/

.footer {
    /* background-color: var(--main-tint-1); */
    z-index: 1;
    position: relative;
    margin-top: -35%;
    color: white;
    background-color: black;
  }
  
  .footer-content {
    display: grid;
    font-size: 1.4rem;
    width: 100%;
    padding: 1rem;
  }

  picture{
    display: flex;
    align-items: center;
  }

  picture img{
    width: 45px;
    margin-right: 2%;
  }
  
  .contacts--links--update {
    display: flex;
    gap: 8rem;
    padding: 3.2rem;
  }
  
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  .contact-info {
    display: grid;
    justify-items: start;
    font-style: normal;
  }
  
  .phone,
  .email {
    text-decoration: none;
    color: var(--grey-color);
  }
  
  .phone:hover,
  .email:hover {
    color: var(--main-color);
  }
  
  .margin-bottom-12px {
    margin-bottom: 1.2rem;
  }
  
  .social-profiles a {
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--main-color);
  }
  
  .links {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex: 1;
  }
  
  .links-column {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: start;
    font-size: large;
  }
  
  .links-column a {
    display: block;
    text-decoration: none;
    color: var(--grey-color);
    cursor: default;
  }
  
  .links-column a:first-child {
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .links-column a:not(:first-child) {
    cursor: pointer;
    transition: all 700ms;
  }
  
  .links-column a:not(:first-child):hover {
    color: var(--main-color);
    font-weight: 600;
  }
  
  .update-text {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
  }
  
  .footer-end {
    font-size: 1.4rem;
    padding: 1.6rem;
    display: flex;
  }


.songItem{
    height: 40px;
    width: 55%;
    display: flex;
    /* border: 2px solid red; */
    background-color: white;
    color: rgb(225, 48, 78);
    font-weight: bold;
    border-radius: 34px;
    margin: 12px 0;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
}

.songItem img{
    width: 35px;
    border-radius: 34px;
    margin-left: -60px;
}

.songItem i{
    cursor: pointer;
    font-size: 17px;
}

.songListPlay{
    margin: 0 -33px;
    font-family: 'Ubuntu', sans-serif;
}

.bottom{
    position: sticky;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#myProgressBar{
    width: 100%;
}

.icons{
    margin-top: 15px;
}

.icons i{
    padding: 0 5px;
    cursor: pointer;
    font-size: 25px;
}